.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

.App h1 {
  margin: 0;
}

.new-list-button {
  margin: 8px 0;
}

dialog {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  min-width: 300px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  color: red;
  font-size: 0.9rem;
  padding: 0;
  cursor: pointer;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.task-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.task-list {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px;
  width: fit-content;
}

.task-list h2 {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-list-button {
  background: none;
  border: none;
  color: red;
  font-size: 0.9rem;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
}

.task {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 0;
  width: fit-content;
}
